<%- include("header") -%>
<div class="box" id="heading">
  <h1><%= listTitle %></h1>
</div>

<div class="box">
  <% for(let item of todoListItems) { %>
  <form action="/delete" method="post">
    <div class="item">
      <input
        type="checkbox"
        name="checkbox"
        value="<%= item._id%>"
        onchange="this.form.submit()"
      />
      <p><%= item.name %></p>
    </div>
    <!-- prettier-ignore -->
    <input type="hidden" name="listName" value=<%= listTitle %> />
  </form>
  <% } %>
  <form class="item" action="/" method="post">
    <input type="text" name="newItem" placeholder="New Item" />
    <!-- prettier-ignore -->
    <button type="submit" name="button_list_add" value=<%= listTitle %>
          >+
        </button>
  </form>
</div>

<%- include("footer") -%>
